.container {
  background-color: white;
  padding: 20px;
  border-radius: 16px;
  width: 1140px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.total {
  text-align: right;
}

.btns {
  display: flex;
  justify-content: end;
  gap: 10px;
}
