* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
}

#root {
  height: 100vh;
}

/* 内容区域样式 */
.ant-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
